%h1 Listing moods

.panel.panel-default
  %table.table.table-striped
    %thead
      %tr
        %th Icon
        %th BG
        %th Name
        %th
        %th
        %th

    %tbody
      - @moods.each do |mood|
        %tr
          %td= image_tag(mood.icon.url, class: "img-circle", style:"height:20px;background:black;")
          %td= image_tag(mood.background.url, class: "img-circle", style:"height:20px;")
          %td= mood.name
          %td= link_to 'Show', mood
          %td= link_to 'Edit', edit_mood_path(mood)
          %td= link_to 'Destroy', mood, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mood', new_mood_path
