.row
  .col-sm-offset-2
    .outline-box
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true, :class => "form-horizontal" }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email, class: "col-sm-2 control-label"
          .col-sm-8= f.email_field :email, autofocus: true, class: "form-control"
        .form-group
          = f.label :password, class: "col-sm-2 control-label"
          .col-sm-8= f.password_field :password, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :password_confirmation, class: "col-sm-2 control-label"
          .col-sm-8= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        .form-group
          .col-sm-10= f.submit "Sign up", class: "btn btn-success", style: "width:100%;"
      = render "devise/shared/links"
