%h1 Listing hoods

.panel.panel-default
  %table.table.table-striped
    %thead
      %tr
        %th Address
        %th City
        %th State
        %th Country
        %th Longitude
        %th Latitude
        %th
        %th
        %th

    %tbody
      - @hoods.each do |hood|
        %tr
          %td= hood.address
          %td= hood.city
          %td= hood.state
          %td= hood.country
          %td= hood.longitude
          %td= hood.latitude
          %td= link_to 'Show', hood
          %td= link_to 'Edit', edit_hood_path(hood)
          %td= link_to 'Destroy', hood, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hood', new_hood_path
