.text-center
  %h1=@dish.name
  =link_to @restaurant do 
    %h4
      ="#{@restaurant.name} -"
      =@restaurant.address
  .order-now-box
    .pull-left
      %h5 
        View Full Menu
        %br
        and Order Now
    -@services.each do |serv|
      =link_to serv.restaurant_services.where("restaurant_id = ?", @restaurant.id).first.url, :target => "_blank" do
        .service-icon.pull-left
          =image_tag(serv.avatar.url, class: "img-responsive")

    .clearfix
.show-dish{style: "background:url(#{@dish.dish_images.first.avatar.url}) no-repeat center center fixed;height:400px;overflow:hidden;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"}
-if @others.count > 0
  %h3.text-center="Other Dishes from #{@restaurant.name}"
  -@others.each do |dish|
    .col-sm-12.col-md-6
      =link_to dish_path(dish) do
        .dish-box{style: "background:url(#{dish.dish_images.first.avatar.url}) no-repeat center center;xx-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"}
          =#image_tag(dish.dish_images.first.avatar.url, style: "width:100%;")
          .dark-overlay
            .text-overlay.text-center
              %h3=dish.name
              -@restaurant = Restaurant.find(dish.restaurant_id)
              %p
                %b{style:"text-transform:uppercase;"}=@restaurant.name
                %br
                %i.fa.fa-map-marker
                =@restaurant.full_street_address

  .clearfix
= link_to 'Edit', edit_dish_path(@dish)
\|
= link_to 'Back', dishes_path
